@font-face {
  font-family: "Greycliff CF";
  src: url("../../public/assets/fonts/GreycliffCF-Regular.woff2") format("woff2"),
  url("../../public/assets/fonts/GreycliffCF-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Greycliff CF Demi";
  src: url("../../public/assets/fonts/GreycliffCF-DemiBold.woff2") format("woff2"),
  url("../../public/assets/fonts/GreycliffCF-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../public/assets/fonts/GreycliffCF-Bold.woff2") format("woff2"),
  url("../../public/assets/fonts/GreycliffCF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../public/assets/fonts/GreycliffCF-Heavy.woff2") format("woff2"),
  url("../../public/assets/fonts/GreycliffCF-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aldrich';
  src: url("../../public/assets/fonts/Aldrich-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
